$mainColor : #343a40;


nav, footer {
    background-color: $mainColor;
    color: whitesmoke;
}

footer {

    bottom : 0;
    width: 100%;
    padding: 20px;
    p {
        text-align: center;
    }
}

h1 {
    text-align: center;
    padding: 10px;
}
.form-results{
    position: relative;
    .search-ul{
        display: none;
        background-color: white;
        width: 20%;
          position: absolute;
          right: 10%;
          top: -5px;
          li{
              list-style-type: none;
          }
    }

}